/* ! BASIC SETUP */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #e50914;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #999;
  font-size: 1.2rem;

  margin-top: 2.5rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #6f6f6e;
}

a {
  color: #6f6f6e;
  text-decoration: none;
}

/* ! BASIC SETUP ENDS */

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.container-2-media-queries {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.container-3 {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.container-4 {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.logo-media-quires {
  display: none;
}

.active-menu {
  display: block;
}

/* * HAMBURGER MENU **/

/* .container-menu {
  position: absolute;

  width: 80%;
  max-width: 1100px;
  margin: auto;
} */

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 10%;
  z-index: 5;
  display: none;
}

.menu-btn:hover {
  opacity: 0.8;
}

/*? NAVIGATION BAR */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
}

.logo {
  width: 11rem;
}

.main-menu {
  display: flex;
  flex: 1;

  margin-left: 3rem;
}

.main-menu a {
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.right-menu {
  display: flex;
  justify-content: space-between;
}

.right-menu a {
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.main-menu a:hover,
.right-menu a:hover {
  border-bottom: 2px solid #6f6f6e;
}

li {
  white-space: nowrap;
}

/*? NAVIGATION BAR ENDS */

/** SHOWCASE AREA TOP **/

.showcase {
  width: 100%;
  height: 40rem;
  background: url(/images/heroSlider.jpeg) no-repeat center center/cover;
}

.showcase-text-area {
  display: grid;
  gap: 1.5rem;

  padding-left: 5rem;
  padding-top: 15rem;

  margin-top: 1.7rem;
}

.showcase-text-area h2 {
  color: #262626;
  font-size: 3rem;
}

.showcase-text-area p {
  color: #262626;
  font-weight: bold;
}

.showcase-text-area a {
  width: 14rem;
}
/** SHOWCASE AREA TOP ENDS **/

/*? SHOWCASE AREA BOTTOM **/

.showcase-bottom-container {
  width: 70%;
  margin: auto;
}

.showcase-bottom {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  justify-content: center;
  align-items: center;

  column-gap: 3rem;

  margin-top: 8rem;

  text-align: center;
}

.showcase-bottom a img {
  margin-bottom: 1rem;
}

.showcase-bottom-text {
  min-width: 10rem;
}
/*? SHOWCASE AREA BOTTOM ENDS **/

/** TABS AREA **/

#tab-1-content,
#tab-2-content {
  display: none;
}

.show {
  display: block !important;
}

.tabs-button-container {
  display: flex;
  justify-content: center;
  align-content: center;

  margin-top: 3rem;
}

.tabs-buttons {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.tabs-buttons a:first-child {
  margin-right: 3rem;
}

.tab-line {
  border-bottom: 2px solid black;

  margin-top: 2rem;
  width: 20rem;
  margin: auto;
}
.tabs-blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;

  justify-content: center;

  margin-top: 1.7rem;
}

.tabs-blog-container img {
  width: 100%;
}

.tabs-blog {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.tabs-blog h1 {
  margin-top: 3rem;
  font-size: 2rem;
  color: black;
}

.tabs-blog p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: black;
}

.tabs-double-links a:first-child {
  margin-right: 3rem;
}

/** TABS AREA ENDS **/

/*? TABS ABOUT ME AREA */

.tabs-about-me-container-with-image {
  margin-top: 4rem;
}

.tabs-about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-items: center;
  justify-items: center;

  margin-bottom: 5rem;
}

.tabs-about-me {
  width: 90%;
  margin: auto;
}

.tabs-about-me-container img {
  width: 20rem;
}

.tabs-about-me-container h1 {
  color: black;
}

.tabs-about-me-container p {
  margin-top: 1rem;
  font-size: 2rem;
  color: black;
}

.tabs-about-me-container a {
  margin-top: 2rem;
}

.tabs-about-me-container a {
  margin-right: 0.5rem;
}

/*? TABS ABOUT ME AREA ENDS */

/* * SHOWCASE 2 AREA */

.showcase2 {
  width: 100%;
  height: 40rem;
  background: url(/images/slider2.png) no-repeat center center/cover;
}

.showcase2 p {
  min-width: 25rem;
  padding-right: 5rem;
}

.showcase2 h2 {
  padding-right: 0.6rem;
}

/* * SHOWCASE 2 AREA ENDS */

/* ? BUSINESS BLOGS */

.business-blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;

  justify-content: center;

  margin-top: 2rem;
}

.business-blog-container img {
  width: 100%;
}

.business-blogs {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.business-blog h1 {
  margin-top: 3rem;
  font-size: 2rem;
  color: black;
}

.business-blog p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: black;
}

/* ? BUSINESS BLOGS - ENDS */

/* * COVID STATEMENT */

.covid-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #e7e6e7;

  margin-top: 4rem;
}

.covid-statement h1 {
  margin-top: 2rem;
  color: black;
  font-size: 3rem;
}

.covid-statement p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: black;
}
.covid-statement a {
  margin-bottom: 2rem;
}

/* * COVID STATEMENT - ENDS */

/* ? SOCIAL MEDIA  */

.social-media {
  display: flex;
  align-items: center;

  margin-top: 4rem;
}

.social-media h2 {
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.social-media img:not(:first-child) {
  margin-right: 1.5rem;
}

/* ? SOCIAL MEDIA - ENDS */

/* * FOOTER AREA */

footer {
  background-color: #f2f2f2;
}

.footer-container {
  display: flex;

  justify-content: flex-start;

  margin-top: 4rem;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4rem;
  /* align-items: flex-start; */
  justify-items: center;
}

.nav-container li {
  line-height: 2.8;
}

.nav-group h1 {
  font-size: 1.2rem;
  color: black;

  margin-bottom: 1rem;
  margin-top: 3.5rem;
}

.nav-group li {
  color: gray;
}

.sub-footer-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background: #f2f2f2;

  padding-top: 3rem;
}
.sub-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.sub-footer ul {
  display: flex;
  flex-wrap: wrap;
}

.sub-footer li:not(:last-child) {
  margin-right: 2.5rem;
}

.sub-footer ul li a {
  color: #999;
}

/* * FOOTER AREA - ENDS  */

/* ! HELPER CLASSES */

/** TEXT STYLES **/

.main-menu-text {
  font-size: 1.3rem;
}

.showcase-bottom-text {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.header {
  color: black;
  font-size: 2.7rem;
  font-weight: bold;

  margin-top: 5rem;
}

.showcase-bottom-text a {
  color: black;
}

/** TEXT STYLES END **/

/*? BUTTON STYLES **/

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  background: #262626;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.btn-red {
  background: #9f4633;
}

.btn-blue {
  margin-top: 0.7rem;
  background: none;
  color: #1467b8;

  padding: 1em 0 0 0;
}

.btn-blue:hover {
  color: #6f6f6e;
}

.btn-black {
  background: none;
  color: black;
  padding: 1em 0 0 0;
}

.btn-black:hover {
  border-bottom: 2px solid;
}

.tabs-button {
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  border: 0;
  padding: 1rem 0 0 0;
  color: black;
}

.tabs-button:hover {
  color: #6f6f6e;
}

.footer-text-style li a:hover {
  color: black;
}

/* ! MEDIA QUERIES */

/*? HAMBURGER MENU */

@media (max-width: 1284px) {
  /** logo visibility **/
  .logo-media-quires {
    display: inline-block;
    margin-top: 0.5rem;
  }
  .container-2-media-queries {
    margin-top: 1rem;
  }

  .menu-btn {
    display: block;
  }

  .menu-visibility {
    display: none;
  }

  .main-nav .main-menu,
  .main-nav .right-menu {
    display: block;
  }

  .menu-bar {
    display: block;
    position: fixed;

    top: 0;
    left: 0;

    background: #f2f2f2;
    width: 60%;
    height: 100%;

    opacity: 0.95;
    border-right: 1px solid #ccc;
  }

  .main-nav img {
    position: fixed;
    top: 3rem;
    left: 3.2vw;

    width: 10rem;
  }

  .main-nav .main-menu {
    position: absolute;
    top: 10rem;
    width: 70%;
  }

  .main-nav .right-menu {
    position: absolute;
    top: 55rem;
    width: 70%;
  }

  .main-menu {
    margin: 0;
    text-align: left;
  }
  .right-menu a {
    margin: 0;
    padding: 0;
  }

  .right-menu a:hover {
    border: none;
    color: black;
  }

  .main-menu a {
    margin: 0;
  }

  .main-menu a:hover {
    border: none;
    color: black;
  }

  .main-menu li,
  .right-menu li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 1123px) {
  .nav-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  .footer-container {
    width: 90%;
    margin: 4rem auto 0 auto;
    display: flex;

    justify-content: flex-start;
  }
}

@media (max-width: 907px) {
  .container-2-media-queries {
    width: 100%;
  }

  .showcase-bottom-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .showcase-bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: 1fr;

    justify-content: flex-start;
    align-items: center;

    column-gap: 3rem;

    margin-top: 4rem;

    text-align: left;
  }

  .showcase-bottom a img {
    margin-bottom: 1rem;
    width: 2rem;
  }

  .showcase-bottom-text {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    max-width: 30rem;
  }

  .showcase-bottom-text img {
    margin-right: 2rem;
  }

  .tabs-button-container {
    margin-top: 2rem;
    align-content: flex-start;
  }

  .tabs-buttons {
    margin-top: 1rem;
  }

  /* ? TABS BLOGS */

  .tabs-blog-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ? BUSINESS BLOGS */

  .business-blog-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .business-blog:nth-child(3),
  .business-blog:nth-child(4) {
    margin-top: 4rem;
  }
}
@media (max-width: 700px) {
  /* ? SHOWCASE 1 & 2*/

  .container-2-media-queries {
    width: 100%;
  }

  .showcase {
    width: 100%;
    height: 40rem;
    background: url(/images/heroSlider.jpeg) no-repeat;
    background-position: 80%;
  }

  .showcase2 {
    width: 100%;
    height: 40rem;
    background: url(/images/slider2.png) no-repeat;
    background-position: 20%;
  }

  /* ? TABS BLOGS */

  .tabs-about-me-container-with-image {
    margin-top: 0rem;
  }
  .tabs-blog-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ? TABS ABOUT MW */

  .tabs-about-me-container {
  }

  /* ? BUSINESS BLOGS */

  .business-blog-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .business-blog:nth-child(3),
  .business-blog:nth-child(4) {
    margin-top: 4rem;
  }

  /* ? NAV-CONTAINER */

  .nav-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ? FOOTER  */
  .sub-footer p {
    display: inline-block;
    white-space: nowrap;

    margin-right: 5rem;
  }
}

@media (max-width: 607px) {
  /* * correcting image issue when we resize */

  .tabs-blog .img2,
  .tabs-blog .img4 {
    width: 90vw;
  }
  /* ? SHOW SIDERS 1 & 2 */

  .showcase {
    width: 100%;
    height: 80vh;
    background: url(/images/NEW-HERO.png) no-repeat;
    background-position: right 50% top 90%;
    background-size: cover;
  }

  .showcase2 {
    width: 100%;
    height: 80vh;
    background: url(/images/NEW-HERO2.png) no-repeat;
    background-position: right 50% top 90%;
    background-size: cover;

    margin-bottom: 6rem;
  }

  /* ? TAB ABOUT ME SECTION */

  .tabs-about-me-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .tabs-about-me-textarea {
    text-align: center;
  }

  /* ? TABS BLOGS */

  .tabs-blog-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  /* ? BUSINESS BLOGS */

  .business-blog-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .business-blog:nth-child(2) {
    margin-top: 4rem;
  }

  .nav-container {
    /* grid-template-columns: 1fr; */
    display: block;
  }

  .nav-container div {
    text-align: left;
  }

  .covid-statement h1 {
    font-size: 2rem;
  }

  .covid-statement p {
    font-size: 1rem;
  }
  .sub-footer {
    flex-direction: column;
  }

  .sub-footer ul {
    flex-direction: column;

    margin-top: 2rem;
  }

  .sub-footer ul li:last-child {
    margin-top: 1rem;
  }
}
