/* ! BASIC SETUP */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #e50914;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #999;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #6f6f6e;
}

a {
  color: #6f6f6e;
  text-decoration: none;
}

/* ! BASIC SETUP ENDS */

.container {
  width: 80%;
  margin: auto;
}

/*? NAVIGATION BAR */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
}

.logo {
  width: 11rem;
}

.main-menu {
  display: flex;
  flex: 1;

  margin-left: 3rem;
}

.main-menu a {
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.right-menu {
  display: flex;
  justify-content: space-between;
}

.right-menu a {
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.main-menu a:hover,
.right-menu a:hover {
  border-bottom: 2px solid #6f6f6e;
}

li {
  white-space: nowrap;
}

/*? NAVIGATION BAR ENDS */

/** SHOWCASE AREA TOP **/

.showcase {
  width: 100%;
  height: 40rem;
  background: url(/images/heroSlider.jpeg) no-repeat center center/cover;
}

.showcase-text-area {
  display: grid;
  gap: 1.5rem;

  padding-left: 5rem;
  padding-top: 15rem;

  margin-top: 1.7rem;
}

.showcase-text-area h2 {
  color: #262626;
  font-size: 3rem;
}

.showcase-text-area p {
  color: #262626;
  font-weight: bold;
}

.showcase-text-area a {
  width: 13rem;
}
/** SHOWCASE AREA TOP ENDS **/

/*? SHOWCASE AREA BOTTOM **/

.showcase-bottom-container {
  width: 70%;
  margin: auto;
}

.showcase-bottom {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  justify-content: center;
  align-items: center;

  column-gap: 3rem;

  margin-top: 8rem;

  text-align: center;
}

.showcase-bottom a img {
  margin-bottom: 1rem;
}
/*? SHOWCASE AREA BOTTOM ENDS **/

/** TABS AREA **/

.tabs-button-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.tabs-buttons {
  margin-top: 6rem;
}

.tabs-buttons a:first-child {
  margin-right: 3rem;
}

.tabs-blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;

  justify-content: center;
  align-items: center;

  margin-top: 1.7rem;
}

.tabs-blog-container img {
  width: 100%;
}

.tabs-blog {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.tabs-blog h1 {
  margin-top: 3rem;
  font-size: 2rem;
  color: black;
}

.tabs-blog p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: black;
}

/** TABS AREA ENDS **/

/* ! HELPER CLASSES */

/** TEXT STYLES **/

.main-menu-text {
  font-size: 1.3rem;
}

.showcase-bottom-text {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.showcase-bottom-text a {
  color: black;
}

/** TEXT STYLES END **/

/*? BUTTON STYLES **/

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  background: #262626;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.btn-red {
  background: #9f4633;
}

.btn-blue {
  margin-top: 0.7rem;
  background: none;
  color: blue;
  border-bottom: 2px solid;
  padding: 1rem 0 0 0;
}
