/* ! BASIC SETUP */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #e50914;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #999;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #6f6f6e;
}

a {
  color: #6f6f6e;
  text-decoration: none;
}

p {
  margin: 0.7rem 0;
}

img {
  width: 100%;
}

/* ! BASIC SETUP ENDS */

.container {
  width: 80%;
  margin: auto;
}

/*? NAVIGATION BAR */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
}

.logo {
  width: 11rem;
}

.main-menu {
  display: flex;
  flex: 1;

  margin-left: 3rem;
}

.main-menu a {
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.right-menu {
  display: flex;
  justify-content: space-between;
}

.right-menu a {
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.main-menu a:hover,
.right-menu a:hover {
  border-bottom: 2px solid #6f6f6e;
}

li {
  white-space: nowrap;
}

/*? NAVIGATION BAR ENDS */

/* ! HELPER CLASSES */

/* * TEXT STYLES * */

.main-menu-text {
  font-size: 1.3rem;
}
